.iconSize{
    width: 100px;
    height: 100px;
}

.noShow{
    display: none;
}

.createBadge{}

.iconList{
    width: 365px;
    display: flex;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.individualIcon{
    margin: 5px;
    border: 1px solid lightblue;
}

.individualIcon:hover{
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px;
}

.userImage{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.followerRow{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

@media (max-width: 750px) {
.create-badge-wrapper{
    display: grid;
    grid-template-columns: repeat( 8, 1fr )
}

.create-badge-title {
    grid-column: 1/9;
}

.upload-picture {
    grid-column: 1/9;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    /* border-bottom: 1px solid #E4E4E4; */
    height: 275px;
    

}
.title-description {
    grid-column: 1/9;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 8px;
}

.edit-badge-image {
    object-fit: cover;
    object-position:10 10;
    position: absolute;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    
}

.create-badge-title {
    background-color: #FFFFFF;
    /* border-bottom: 1px solid #E4E4E4; */
    padding-left: 15px;
    padding-right: 15px;  
    text-align: center;
    grid-column: 1/9;
    height: 90px;

}

.create-title {
    height: 45px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 22px;
    color: #00b5b7;  
    padding-top: 20px; 
    padding-bottom: 0; 
}

input {
    height: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30px;
    width: 335px;
    background-color: #D0D0D0;
    color: #D0D0D0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
}
.file-input{
    padding: 10px;
}

.create-title-wrapper {
    padding: 10px;
    color: #D0D0D0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;

}

.create-description-wrapper {
    padding: 10px;
    color: #D0D0D0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.create-title-badge {
    background-color: white;
    height: 45px;
    width: 315px;
    /* border-radius: 10px; */
    outline: none;
    border: none;
    color: #505050;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
    padding-left: 20px;
    
}

.create-description-badge {
    display: block;
    background-color: white;
    min-height: 45px;
    width: 315px;
    max-height: 250px; 
    /* border-radius: 10px; */
    outline: none;
    border: none;
    color: #505050;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
    padding-left: 20px;
    word-wrap: break-word;
    white-space: initial;
    top: 0;
    left: 0;
    /* padding-left:0;
    padding-top:0;
    padding-bottom:0.4em;
    padding-right: 0.4em;
    display: inline-block; */
}
input::placeholder {
    color: #D0D0D0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
}
.create-badge-button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 45px;
    width: 335px;
    background-color: #00b5b7;
    /* border: 1px solid #D0D0D0; */
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
}
.create-badge-button:hover {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 45px;
    width: 335px;
    background-color: #BABABA;
    /* border: 1px solid #D0D0D0; */
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
}
.create-badge-button-padding {
    padding: 10px;
}
.file-choose {
    position: relative;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-color: #BABABA;
    /* border: 1px solid #D0D0D0; */
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    opacity: 0;
}
.caption-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 12px;
    color: #505050;
}
.challenge-followers-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.user-image {
    object-fit: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 10px;
    padding-left: 20px;
}
.user-invite-container {
    height: 75px;
    width: 375px;
    background-color: white;
    /* display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: stretch; */
}

.challenge-followers-wrapper {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #505050;
    /* padding-right: 10px;
    padding-left: 10px; */
    width: 600px;
    height: 50px;
    display: flex;
	flex-direction: row;
    background-color: #FFFFFF;
}
.user-invite-username {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #505050;
    line-height: 60px;
    padding-left: 10px;
    line-height: 100px;
    padding-bottom: 20px;
}
.user-name-text {
}
}

/* <div className={this.state.badgeCreated ? 'createBadge' : 'noShow'}> */
