.profile-wrapper {
  display: grid;
  grid-template-columns: repeat( 8, 1fr )
}

.profile-header {
  /* background-color: rgb(106, 19, 19); */
  grid-column: 3/7
}

.profile-left {
  /* background-color: rgb(220, 83, 83); */
  grid-column: 1/3;
  grid-row: 1/9;
}

.profile-right {
  /* background-color: rgb(15, 37, 94); */
  grid-column: 7/9;
  grid-row: 1/9;
}

.profile-info {
  /* background-color: rgb(57, 143, 140); */
  grid-column: 3/7;
}

.profile-content {
  /* background-color: rgb(106, 19, 38); */
  grid-column: 3/7;
}

.profile-filter {
  /* background-color: rgb(234, 120, 145); */
  grid-column: 3/7;
}

.profile-showcase {
  /* background-color: rgb(15, 177, 112); */
  grid-column: 3/7;

}

.profile-footer {
  /* background-color: rgb(216, 24, 193); */
  grid-column: 3/7;
}


/* .profile-content {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
  /* grid-template-columns: repeat(3, 1fr); 
} */

.badges-content-image {
  padding: 10px;
  width: 300px;
  height: 300px;
}

/* .profile-pic {
  height: 500px;
  width: 500px;
  border-radius: 50%;

} */

@media (max-width: 750px) {
  .profile-left {
    display: none;
  }
  
  .profile-right {
    display: none;
  }

  .profile-header {
    /* padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: right;
    align-items: right;
    background-color: rgb(255, 255, 255);
    height: 45px;
    grid-column: 1/9; */
    display: none;

  }
  
  .profile-info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #E4E4E4;
    grid-column: 1/9;
    height: 245px;
  }
  .follow-profile-wrapper {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .title-username-profile-wrapper {
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .username {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding: 5px;
    font-size: 14px;
    color: #505050;  
  }

  .description {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    padding: 5px;
    font-size: 12px;
    color: #505050;  
    text-align: center;
  }
  
  .follow-wrapper{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .follow-number {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding: 5px;
    font-size: 28px;
    color: #505050; 
  }

  .profile-content {
    /* background-color: rgb(106, 19, 38); */
    /* border-bottom: 1px solid #505050; */
    grid-column: 1/9;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
  }
  
  .profile-filter {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #E4E4E4;
    grid-column: 1/9;
    height: 50px;
  }
  
  .profile-showcase {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #E4E4E4;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;  
    text-align: center;
    grid-column: 1/9;
    height: 90px;
  }
  
  .profile-footer {
   display: none;
  }

  .badges-content-image {
    padding: 10px;
    width: 100px;
    height: 100px;
    margin: 0px;
    padding: 0px;
  }
  .showcase-text {
    background-color: rgb(255, 255, 255);
    /* border-bottom: 1px solid #E4E4E4; */
    /* padding-bottom: 7px; */
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #D0D0D0;  
    margin: 5px;
  }

.showcase-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
}

  .showcase-badge-icon {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 2px;
    padding-left: 7px;
    padding-right: 7px;
  }

  .filter-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
  }

  .filter-badge-icon {
    height: 18px;
    width: 18px;
    padding: 2px;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
  }

  .main-profile-icon {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    object-fit: scale-down;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .follow-header {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #D0D0D0;  
    padding-left: 35px;
    padding-right: 35px;
  }
  
  .follow-button{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30px;
    width: 335px;
    border: 1px solid #D0D0D0;
    color: #D0D0D0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
  }

  .edit-button{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30px;
    width: 335px;
    background-color: #D0D0D0;
    /* border: 1px solid #D0D0D0; */
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
  }

  

  .edit-button:hover{
    background: #505050;
    /* border: 1px solid #00b5b7; */
    color: #FFFFFF;
    cursor: pointer;
  }

  .follow-button:hover{
    background: #00b5b7;
    border: 1px solid #00b5b7;
    color: #FFFFFF;
    cursor: pointer;
  }

  .settings-icon {
    padding-left: 10px;
    height: 17px;
    width: 17px;
  }

  .follow-padding {
    padding: 5px;
    padding-bottom: 10px;
  }
}

.cantSeeMe{
  display: none;
}

.jakesBorderClassLOL{
  border: 1px solid black;
}

/* <div>
    <div>
    Profile Page
    <Link to='/'>
    <button>Home</button>
    </Link>
    </div>    
    <div>
        Welcome, {this.state.currentUser.username}!
    </div>
    <div>
        <img src={this.state.currentUser.picture} alt='hi'/>
    </div>
    <div>
    
   {console.log('this is the followers ',this.state.followerAmount)} }
  {console.log('this is the followers ',this.props.currentUserFollowers.length)} 
    Following {this.props.currentUserFollowing.length}<br/>
    Followers {this.props.currentUserFollowers.length}<br/>
          <button onClick={this.getFollowing}>Following</button>
        {following}
        
        <button onClick={this.getFollowers}>Followers</button>
        {followers}
    </div>
    { allGroups }
</div> */