.main-nav {
  background: #328c97;
  border-bottom: 0.5px solid #B4B4B4;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  color: #FFFFFF;
  line-height: 70px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none;
  display: inline-block;
  
}

.left-nav-align{
float: left;
display: flex;
display: flex;
flex-direction: row;
padding-left: 150px;
}

.right-nav-align{
  float: right;
  display: flex;
  flex-direction: row;
  padding-right: 150px;
}

.title-nav{
  padding-left: 20px;
  padding-right: 20px;
}

ul {
  list-style: none;
}

a:visited{
  color: white;
}

a:link {
  color: white;
}

.alpha-logo{
  width: 90px;
  height: 44%;
  display: inline-block;
  padding-top: 17px;
}

