@media (max-width: 750px) {
.search-title-wrapper {
  padding: 10px;
  color: #D0D0D0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
  align-content: center;
}

.search-user {
  background-color: white;
  height: 45px;
  width: 360px;
  /* border-radius: 10px; */
  outline: none;
  border: none;
  color: #505050;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: left;
  padding-left: 20px;
}

.search-user-header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #505050;
  /* padding-right: 10px;
  padding-left: 10px; */
  width: 100%;
  height: 80px;

  display: flex;
flex-direction: row;
  background-color: #FFFFFF;
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
  /* border-top: 1px solid #D0D0D0; */
  border-bottom: 1px solid #D0D0D0;
}
.search-wrapper {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.search-left-header {
  display: flex;
  flex-direction: row;
}

.search-user-icon {
  width: 60px;
  height: 60px;
}

.search-name {
  font-size: 14px;
  font-weight: 10px;
  line-height: 80px;
  padding-left: 20px;
}

.search-right-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
  align-content: center;
  font-size: 14px;
  font-weight: 10px;
  line-height: 80px;
  width: 120px;
}

.search-image {
  object-fit: cover;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 10px;
}
li {
    list-style: none;
}
.follow-user-profile-wrapper {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
  align-content: center;


}
.follow-button-head {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 10px;
  line-height: 80px;
  height: 25px;
  width: 75px;
  border: 2px solid #D0D0D0;
  color: #D0D0D0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  cursor: pointer;
}
.follow-button-header:hover {
  font-weight: 10px;
  line-height: 80px;
  height: 25px;
  width: 75px;
  background:#00B5B7;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}
.follow-padding-head {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 20px;
}
}