/* .news-feed-wrapper{
display: grid;
grid-template-columns: repeat( 3, 1fr );
grid-gap: 1em;
} */
.badge-post-wrapper {
    padding-top: 10px;
}
.badge-group-header {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #505050;
    /* padding-right: 10px;
    padding-left: 10px; */
    width: 600px;
    height: 60px;
    display: flex;
	flex-direction: row;
    background-color: #FFFFFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.post-padding-wrapper {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
}
.like-comment-wrapper{
  
}
.left-header {
    display: flex;
    flex-direction: row;
}

.badge-icon {
    width: 40px;
    height: 40px;
}

.badge-icon-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 10px;
}

.badge-name {
    font-size: 12px;
    font-weight: 10px;
    line-height: 60px;
    padding-left: 20px;
}

.badge-image {
    max-width: 600px;
    height: 600px;
}

.badge-content {
    max-width: 600px;
    height: 600px;
}

.right-header {
    text-align: right;
    display: inline-block;
}

.badge-post-interaction {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #505050;
    /* padding-right: 10px;
    padding-left: 10px; */
    width: 600px;
    height: 50px;
    display: flex;
	flex-direction: row;
    background-color: #FFFFFF;
}

.badge-caption {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 600px;
    height: 100%;
    color: #505050;
    background-color: #FFFFFF;
}
.caption {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.divider {
    width: 600px;
    margin: auto;
    position: absolute;
    /* left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); */
    height: 1px;
    background-color: #EDEDED;
    display: inline-block;
    position: absolute;
    margin: 0;
    padding: 0;
}
/* .like-comment-wrapper {
    padding-left: 10px;
    padding-right: 10px;
} */
.like-comment {
    width: 600px;
    height: 60px;
    background-color: #FFFFFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* box-shadow: 0 1px 3px #505050; */
}

.like {
    width: 25px;
    height: 25px;
    padding: 15px;
}
.comment {
    width: 25px;
    height: 25px;
    padding: 15px;
}
div.like-number {
    margin-top: 18px;
    /* width: 25px;
    height: 100%;
    border: 1px solid black; */
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #00b5b7;
}

/* ========================================================================== */
/* Media Query */
/* ========================================================================== */
@media (max-width: 750px) {
    div.like-number {
        margin-top: 10px;
        /* width: 25px;
        height: 100%;
        border: 1px solid black; */
        display: inline-block;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 600;
        color: #00b5b7;
    }
    
    .comment {
        width: 20px;
        height: 20px;
        padding: 10px;
    }
    .like {
        width: 20px;
        height: 20px;
        padding: 10px;
    }
    .badge-group-header {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 14px;
        color: #505050;
        /* padding-right: 10px;
        padding-left: 10px; */
        width: 375px;
        height: 60px;
        display: flex;
        flex-direction: row;
        background-color: #FFFFFF;
    }
    .badge-content {
        max-width: 375px;
        height: 375px;
    }
    .badge-name {
        font-weight: 10px;
        line-height: 60px;
        padding-left: 20px;
    }
    
    .badge-image {
        max-width: 375px;
        height: 375px;
    }
    .badge-post-interaction {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 14px;
        color: #505050;
        /* padding-right: 10px;
        padding-left: 10px; */
        width: 375px;
        height: 50px;
        display: flex;
        flex-direction: row;
        background-color: #FFFFFF;
    }
    
    .badge-caption {
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        width: 375px;
        height: 100%;
        color: #505050;
        background-color: #FFFFFF;
    }
    .caption {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .divider {
        width: 375px;
        margin: auto;
        position: absolute;
        /* left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%); */
        height: 1px;
        background-color: #EDEDED;
        display: inline-block;
        position: absolute;
        margin: 0;
        padding: 0;
    }
    /* .like-comment-wrapper {
        padding-left: 10px;
        padding-right: 10px;
    } */
    .like-comment {
        width: 375px;
        height: 40px;
        background-color: #FFFFFF;
    }
    
    .like-number {
        display: inline-block;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        color: #00b5b7;
    }
}
/* ========================================================================== */
/* Modal */
/* ========================================================================== */

.imageSize {
    height: 375px;
    width: 375px;
}
.comment-wrapper {
    display: flex;
}
.comment-input{
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
    width: 250px;
    border: solid 1px #EDEDED;
    height: 30px;
    font-size: 14px;
    outline: none;
}
.comment-button{
    font-family: 'Open Sans', sans-serif;
    background-color: #00b5b7;
    height: 33px;
    width: 100px;
    text-align: center;
    color: white;
    cursor: pointer;
}
.profile-pic {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    padding: 5px;
}

.comment-author-wrapper {
    display: flex;
    flex-direction: row;
}
.username-comments{
padding-left: 10px;
display: flex;
}